body {
    background-color: oldlace;
}

h1 {
    text-align: center;
}

h2 {
    font-variant: small-caps;
}

h3 {
    font-family: Times, Georgia, Serif;
}

ul {
    list-style-type: square;
}

li {
    font-weight: lighter;
}

a {
    color: purple;
}

p {
    font-style: oblique;
}